.manage-department-content {
  overflow: auto;
  padding-bottom: 50px;

  &--title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__table {
    max-width: 600px;
    width: 100%;
    margin: auto;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--button {
      width: 100%;
      text-align: end;
      margin-bottom: 16px;
    }
  }
}
